<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><?php echo $i18n['layout']['title']; ?></title>

        <style>
            html {
                margin: 0;
                padding: 0;
            }
            table {
                border: #cecece 1px solid;
            }
            
            .selected_project {
                background-color: #cecece;
            }
            #status_field {
                height: 30px;
                padding: 5px;
                margin: 5px;
            }
            #status_field p {
                padding: 10px;
                font-size: 14pt;
            }
            #codesBlock {
                margin-top: 10px;
            }
            #newTranslationButton {
                margin-bottom: 10px;
            }
            #searchKeyword {
                display: none;
            }
            fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 10px 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
            legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
        </style>
        <!--<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
        <script src="jquery-1.10.2.js"></script>
        <script src="mustache.min.js"></script>
        <link rel="stylesheet" href="bootstrap.min.css">

    </head>
    <body onLoad="projects.reload()">

        <div class="row">
            <div class="col-md-8">
                <h4><a href="https://github.com/serkin/bugmanager" target="_blank"><?php echo $i18n['layout']['title']; ?></a></h4>
            </div>
            <div class="col-md-3">
                <div id="status_field">&nbsp;</div>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div id="projectsBlock"></div>

                <script id="projectsTemplate" type="x-tmpl-mustache">
                    <table class="table table-condensed">
                        <thead>
                            <th>#</th>
                            <th><?php echo $i18n['layout']['name']; ?></th>
                            <th><?php echo $i18n['layout']['manage']; ?></th>
                        </thead>
                        <tbody>
                            {{#projects}}
                                <tr OnClick="projects.selectProjectById({{id_project}})" class="project_block" id="project_block_{{id_project}}">
                                    <td>{{id_project}}</td>
                                    <td>{{name}}</td>
                                    <td><button class="btn btn-danger btn-xs" OnClick="projects.deleteProject({{id_project}})"><?php echo $i18n['layout']['delete']; ?></button></td>
                                </tr>
                            {{/projects}}
                                    
                            {{^projects}}
                                <tr>
                                    <td colspan="4">{{i18n.no_projects}}</td>
                                </tr>
                            {{/projects}}
                            
                        </tbody>
                    </table>
                </script>

                <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><?php echo $i18n['layout']['add_project']; ?></legend>

                    <div id="projectFormBlock"></div>
                    <script id="projectFormTemplate" type="x-tmpl-mustache">
                        <form id="projectForm" class="form-horizontal">
                            {{#id_project}}
                                <input type="hidden" name="id_project" value="{{id_project}}">
                            {{/id_project}}

                            <div class="form-group">
                                <label class="col-sm-6 control-label"><?php echo $i18n['layout']['name']; ?></label>
                                <div class="col-sm-6">
                                    <input class="form-control input-sm" type="text" name="name" value="{{name}}">
                                </div>
                            </div>
                            <button type="button" onclick="projects.ProjectForm.save()" class="btn btn-success"><?php echo $i18n['layout']['save']; ?></button>
                            <button type="reset" onclick="projects.ProjectForm.render()" class="btn btn-default"><?php echo $i18n['layout']['clear']; ?></button>
                        </form>
                    </script>
                </fieldset>
                
                
                
                    <div id="tagsBlock"></div>

                    <script id="tagsTemplate" type="x-tmpl-mustache">
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border"><?php echo $i18n['layout']['tags']; ?></legend>
                            <table class="table table-condensed">
                                <thead>
                                    <th>#</th>
                                    <th><?php echo $i18n['layout']['name']; ?></th>
                                    <th><?php echo $i18n['layout']['manage']; ?></th>
                                </thead>
                                <tbody>
                                    {{#tags}}
                                        <tr OnClick="tags.selectTag({{id_tag}}, $(this))" class="tag_block" id="tag_block_{{id_tag}}">
                                            <td>{{id_tag}}</td>
                                            <td>{{version}}</td>
                                            <td>
                                                <button class="btn btn-success btn-xs" OnClick="tags.setTagStatus({{id_tag}},'released')">release</button>
                                                <button class="btn btn-danger btn-xs" OnClick="tags.deleteTag({{id_tag}})"><?php echo $i18n['layout']['delete']; ?></button>
                                            </td>
                                        </tr>
                                    {{/tags}}

                                    {{^tags}}
                                        <tr>
                                            <td colspan="4">{{i18n.no_tags}}</td>
                                        </tr>
                                    {{/tags}}

                                </tbody>
                            </table>
                        </fieldset>
                
                        
                    </script>
                    <div id="tagFormBlock"></div>

                    <script id="tagFormTemplate" type="x-tmpl-mustache">
                                                
                                                <fieldset class="scheduler-border">
                            <legend class="scheduler-border"><?php echo $i18n['layout']['tags']; ?></legend>
                            
                        <form id="tagForm" class="form-horizontal">
                            {{#id_tag}}
                                <input type="hidden" name="id_tag" value="{{id_tag}}">
                            {{/id_tag}}

                            <div class="form-group">
                                <label class="col-sm-6 control-label"><?php echo $i18n['layout']['version']; ?></label>
                                <div class="col-sm-6">
                                    <input class="form-control input-sm" type="text" name="version" value="{{version}}">
                                </div>
                            </div>
                            <button type="button" onclick="tags.TagForm.save()" class="btn btn-success"><?php echo $i18n['layout']['save']; ?></button>
                            <button type="reset" onclick="tags.TagForm.render()" class="btn btn-default"><?php echo $i18n['layout']['clear']; ?></button>
                        </form>
                </fieldset>
                    </script>

            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div id="issuesBlock"></div>
                <script id="issuesTemplate" type="x-tmpl-mustache">
                    <table class="table table-condensed">
                        <thead>
                            <th>#</th>
                            <th><?php echo $i18n['layout']['description']; ?></th>
                            <th><?php echo $i18n['layout']['manage']; ?></th>
                        </thead>
                        <tbody>
                            {{#issues}}
                                <tr OnClick="issues.selectIssue({{id_issue}}, $(this))" class="issue_block" id="issue_block_{{id_issue}}">
                                    <td>{{id_issue}}</td>
                                    <td>{{description}}</td>
                                    <td>
                                        <button class="btn btn-success btn-xs" OnClick="issues.setIssueStatus({{id_issue}},'closed')">close</button>
                                        <button class="btn btn-danger btn-xs" OnClick="issues.deleteIssue({{id_issue}})"><?php echo $i18n['layout']['delete']; ?></button>
                                    </td>
                                </tr>
                            {{/issues}}
                        </tbody>
                    </table>
                </script>
                
                <div id="issueFormBlock"></div>
                <script id="issueFormTemplate" type="x-tmpl-mustache">
                    <form id="issueForm" class="form-horizontal">
                        {{#issue.id_issue}}
                            <input type="hidden" name="id_issue" value="{{issue.id_issue}}">
                        {{/issue.id_issue}}
            
                        <div class="form-group">
                            <label class="col-sm-6 control-label"><?php echo $i18n['layout']['description']; ?></label>
                            <div class="col-sm-6">
                                <textarea class="form-control input-sm" name="description">{{issue.description}}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label"><?php echo $i18n['layout']['type']; ?></label>
                            <div class="col-sm-6">
                                <select class="form-control input-sm" name="type">
                                    {{#issue_types}}
                                        <option {{#selected}}selected{{/selected}} value="{{type}}">{{type}}</option>
                                    {{/issue_types}}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-6 control-label"><?php echo $i18n['layout']['tag']; ?></label>
                            <div class="col-sm-6">
                                <select class="form-control input-sm" name="id_tag">
                                    <option value=""></option>
                                    {{#tags}}
                                        <option {{#selected}}selected{{/selected}} value="{{id_tag}}">{{version}}</option>
                                    {{/tags}}
                                </select>
                            </div>
                        </div>
                        <button type="button" onclick="issues.IssueForm.save()" class="btn btn-success"><?php echo $i18n['layout']['save']; ?></button>
                        <button type="reset" onclick="issues.IssueForm.render()" class="btn btn-default"><?php echo $i18n['layout']['clear']; ?></button>
                    </form>
                </script>

            </div>
            <div class="col-md-2"></div>

        </div>
        
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="row">

            <div class="col-md-10">
                &nbsp;
            </div>
            <div class="col-md-2">
                <a href="https://github.com/serkin/foler" target="_blank">github</a>
            </div>

        </div>
        <script>
            url = '<?php echo $app["config"]["url"]; ?>';
        </script>

        <!-- Here goes content from all js/*.js files -->
        { js }
        <!-- /end -->

    </body>
</html>